.card {
  border-radius: 0.5rem;
  width: 100%;
}

.card:hover {
  cursor: pointer;
  opacity: 0.9;
  transition: ease-in 0.15s;
}

.imageContainer {
  height: 18.75rem;
  position: relative;
}

.icon {
  display: inline;
  height: 1.5rem;
  margin: 1rem;
  position: absolute;
  width: 1.5rem;
}

.icon:hover {
  filter: invert(75%);
  transition: ease-in 0.15s;
}

.edit {
  right: 0;
  top: 2.5rem;
}
.delete {
  right: 0;
  top: 0;
}

.image {
  background-color: #d3d3d3;
  border-radius: 0.5rem;
  object-fit: cover;
}

.title {
  font-size: 1.25rem;
  font-weight: medium;
  line-height: 1.5rem;
}

.description {
  line-height: 1.25rem;
}
