.card {
  border-radius: 0.5rem;
  width: 100%;
}

.image {
  background-color: lightgray;
  border-radius: 0.5rem;
  width: 100%;
}

.title {
  font-size: 1.25rem;
  font-weight: medium;
  line-height: 1.5rem;
}

.description {
  line-height: 1.25rem;
}
